.container{
	margin: auto;
	border: 1px solid black;
	width: 700px;
	height: 500px;
	overflow: hidden;
}

.image-container{
	width:3500px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.image-container li{
	float:left;
}

img{
	display: inline-block;
	width: 700px;
	height: 500px;
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}

